<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.knowledgehighschool.anand"
    versionCode = "18.6"
    version     = "1.8.6" >

<!-- versionCode is optional and Android only -->

  <name>Knowledge Campus Anand</name>

  <description>
      Knowledge Campus Anand
  </description>

  <author href="https://knowledgehighschoolanand.com" email="mukeshprajapati55@gmail.com">
      Mukesh Prajapati
  </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
	
	<icon src="img/ROUND.png" />
	
    <platform name="android">
        <preference name="android-minSdkVersion" value="19" />
		<preference name="android-targetSdkVersion" value="28" />
        <allow-intent href="market:*" />
    </platform>
	
    <preference name="DisallowOverscroll" value="true" />
	<preference name="phonegap-version" value="cli-9.0.0" />
	
<!--	
<network-security-config>
    <domain-config cleartextTrafficPermitted="true">
        <domain includeSubdomains="true">kitetech.ac.in</domain>
    </domain-config>
</network-security-config>
-->

 <!--   <plugin name="cordova-plugin-whitelist" spec="~1.2.0" />
    <plugin name="cordova-plugin-console" spec="~1.0.1" />
    <plugin name="cordova-plugin-statusbar" spec="~1.0.1" />  -->
	
<plugin name="cordova-plugin-console" spec="1.0.7" />
<plugin name="cordova-plugin-statusbar" spec="1.0.1" />
<plugin name="cordova-plugin-whitelist" spec="1.2.2" />	

</widget>